<%- include('../partials/header'); -%>

<div class="container">
	<div class="row">
		<h1 style="text-align:center">Add New Patient</h1>
		<div style="width:30% ;margin:25px auto ">

			<form action="addPatient" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="enter name" name="pname">
			</div>
			<div class="form-group">
				<input class="form-control" type="number" placeholder="enter Age" name="page" step="1">
			</div>
			<div class="form-group">
				<select class="form-control" name="pgender" id="pgender">
					
  						<option value="M">Male</option>
  						<option value="F">Female</option>
  					
				</select>
			</div>
			<div class="form-group">
				<input class="form-control" type="email" placeholder="enter Email" name="email">
			</div>
			
			<div class="form-group">
				<input class="form-control" type="text" placeholder="enter Address" name="paddr">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">submit</button>
			</div>
				
				
				
	
			</form>
			<a href="/getPatient">Go back!</a>
		</div>


	</div>

</div>




<%- include('../partials/footer'); -%>