<%- include('../partials/header'); -%>
<div class="container">
	<div class="jumbotron">
  		<div class="container">
  			<h1 style="text-align:center;">Appointments</h1>
  			<a class="btn btn-success btn-lg" href="/addAppointment">Add Appointments</a>
		</div>
	</div>
</div>



<%- include('../partials/footer'); -%>